<%- include("partials/header.ejs") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input type="input" name="postTitle" class="compose form-control" placeholder="Enter title" autocomplete="off"></input>
        <label>Post</label>
        <textarea type="text" name="postBody" class="compose form-control" placeholder="Enter ur shit here" rows="5"
            cols="30"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
        Publish
    </button>
</form>

<%- include("partials/footer.ejs") -%>